html,
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #464646;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

input[type="radio"] {
  display: none;
}


/*=============== HEADER =================*/

.main-header {
  margin-bottom: 108px;
  padding-top: 40px;
}

.logo {
  width: 165px;
}

/*======= MAIN-MENU =======*/
.main-menu {
  width: 100%;
  padding: 0 60px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 19px, #f7e296 19px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 19px, #f7e296 19px);
  box-sizing: border-box;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1040px;
      flex-basis: 1040px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  width: 100%;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search {
  width: 445px;
  margin-right: auto;
}

.login {
  width: 222px;
  margin-right: auto;
}

.login-info--hidden {
  display: none;
}

.login-enter--hidden {
  display: none;
}

.cart {
  width: 212px;
}

.main-navigation {
  width: 100%;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 170px;
  list-style: none;
  box-sizing: border-box;
}

.navigation-item--submenu {
  position: relative;
}

.navigation-item--submenu:hover .navigation-sublist,
.navigation-item--submenu:active .navigation-sublist{
  display: flex;
}

.navigation-sublist {
  position: absolute;
  left: -60px;
  display: none;
  width: 1160px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 28px;
  z-index: 15;
  background: #f7e296;
}

.sublist-item {
  display: inline-block;
  width: 180px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sublist-item:nth-child(2) {
  margin-right: 20px;
  margin-left: 60px;
}

.sublist-item a {
  width: 100%;
  display: block;
  margin: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}


/*======= SLIDER =======*/
.slider-inner {
  width: 100%;
  padding: 0 60px 0 30px;
  box-sizing: border-box;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1040px;
      flex-basis: 1040px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-description {
  width: 500px;
}

.slider-foto {
  width: 526px;
}



/*============================== FOOTER =================================*/



.main-footer {
  padding-top: 66px;
  padding-bottom: 79px;
  background: #464646;
}

.footer-wrapper {
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
}

.user-menu-footer {
  display: flex;
  width: 1160px;
  flex-shrink: 0;
}

.user-cart  {
  width: 327px;
  margin-left: auto;
}

.contacts-footer {
  display: flex;
  width: 1160px;
  flex-shrink: 0;
}

.social-footer {
  display: flex;
  width: 1160px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.social-footer-list {
  width: 150px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.html-academy {
  width: 30px;
  margin-left: 480px;
}



/*=============================== MAIN ===================================*/



/*======= CATALOG =======*/
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
}

.wrapper-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7e296;
}

.catalog-item {
  margin-right: 40px;
}

.catalog-item:nth-child(6n) {
  margin-right: 0;
}

.wrapper-img img {
  display: block;
}

.catalog-item:nth-child(2) .wrapper-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}


/*======= SERVICE =======*/
.service {
  margin-top: 80px;
  padding-bottom: 70px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 100px, #e5e5e5 100px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100px, #e5e5e5 100px);
}

.service-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-list {
  width: 285px;
  padding-top: 79px;
  padding-bottom: 90px;
  list-style: none;
  border-right: 7px solid #000000;
}


.service-detals {
  width: 760px;
  padding-top: 79px;
}



/*======= BRANDS =======*/

.brands {
  margin-top: 106px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  box-sizing: border-box;
}

.brands-item {
  width: 260px;
  margin: auto;
}

/*======= INFO =======*/

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-top: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  width: 463px;
}

.contacts {
  width: 561px;
}





/*==================================== CATALOG.HTML ======================================*/

/*=============== HEADER =================*/

.inner-header {
  margin-bottom: 45px;
  padding-top: 40px;
}

.navigation-list--padding {
  padding-bottom: 55px;
}



/*=============== MAIN =================*/

.title-catalog h1 {
  margin: 0;
  margin-left: 60px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
}

.breadcrumbs {
  margin-top: 25px;
}

.breadcrumbs-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.inner-wrapper {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}


/*=============== FILTER =================*/


.filter {
  width: 468px;
  background-image: linear-gradient(to bottom, #dbdbdb 69px, #efefef 19px);
}

.filter-wrapper {
  width: 328px;
  margin: 0;
  margin-left: auto;
  padding-left: 60px;
  padding-right: 68px;
  box-sizing: border-box;
}

.filter-title {
  margin: 0;
  padding: 25px 0;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-cost {
  margin-top: 70px;
  border-top: 2px solid #000000;
  box-sizing: border-box;
}

.filter-name {
  margin: 0;
  padding: 15px 0;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
  box-sizing: border-box;
}

.range-controls {
  margin-top: 20px;
}

.filter-color {
  margin-top: 40px;
  border-top: 2px solid #000000;
}

.filter-color-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: space-between;
  list-style: none;
}

.filter-color-item {
  width: 100%;
}

.filter-bluetooth {
  margin-top: 42px;
  border-top: 2px solid #000000;
}

.filter-bluetooth-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: space-between;
  list-style: none;
}

.filter-bluetooth-item {
  width: 100%;
}

.filter-btn {
  margin-top: 40px;
}




/*=============== CONTENT-CATALOG =================*/


.content-catalog {
  width: 972px;
  background-image: linear-gradient(to bottom, #ebebeb 69px, #ffffff 19px);
}

.content-catalog-wrapper {
  width: 760px;
  margin: 0;
  margin-left: 72px;
}



/*=============== SORTING =================*/

.sorting {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.sorting-title {
  margin: 0;
  padding: 25px 0;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  width: 285px;
  margin: 0;
  margin-left: 56px;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.sorting-sign {
  display: flex;
  width: 65px;
  margin: 0;
  padding: 0;
  list-style: none;
}




/*=============== SHOP-ITEMS =================*/

.shop-items {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 43px;
}

.shop-items-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: space-between;
  list-style: none;
}

.shop-items-list li {
  position: relative;
  width: 360px;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 50px;
  cursor: pointer;
}

.shop-items-list li:nth-child(2n) {
  margin-right: 0;
}
.shop-items-list li:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.shop-items-list li:hover .items-add {
  display: flex;
}

.items-foto img {
  display: block;
}

.items-description {
  display: flex;
  width: 100%;
  margin-top: 35px;
  justify-content: space-between;
  align-items: baseline;
}

.items-name {
  width: 255px;
}

.items-name h2 {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
}

.items-price {
  margin: 0;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: #464646;
}

.items-add {
  position: absolute;
  top: 0;
  display: none;
  width: 360px;
  height: 380px;
  flex-wrap: wrap;
  align-content: center;
  background: rgba(243, 243, 243, 0.7);
}

.items-add a {
  width: 202px;
  margin: auto;
}




/*=============== PAGINATOR =================*/


.pagination {
  margin-bottom: 75px;
}

.pagination-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 25px 30px;
  background: #ebebeb;
  list-style: none;
  box-sizing: border-box;
}

.pagination-item {
  margin: auto;
}

.pagination-item--prev {
  margin-right: 235px;
}

.pagination-item--next {
  margin-left: 235px;
}



