/*==================================== FONTS ===========================================*/
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       local('Open-Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'),
       local('Open-Sans-Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'),
       local('Gilroy-Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'),
       local('Gilroy-ExtraBold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/*====/FONTS ====*/

html,
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

input[type="radio"] {
  display: none;
}


/*=============== HEADER =================*/

.main-header {
  padding-top: 20px;
}


/*======= MAIN-MENU =======*/
.main-menu {
  width: 100%;
  padding: 0 60px 60px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 19px, #f7e296 19px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 31px, #f7e296 19px);
  box-sizing: border-box;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1040px;
      flex-basis: 1040px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  width: 100%;
}

.logo-link {
  display: block;
  width: 165px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 25px;
  align-items: baseline;
}

/*======= SEARCH =======*/

.search {
  width: 445px;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}

.search form {
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.search label { /*скрытие текста*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-wrapper {
  position: relative;
  width: 445px;
}

.search input[type="search"] {
  position: relative;
  width: 355px;
  padding: 7px 40px;
  font: inherit;
  color: #000000;
  background: #f7e296;
  border: none;
  cursor: pointer;
}

.input-wrapper::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 5px;
  width: 17px;
  height: 17px;
  background: url("../img/spritesheet.png") no-repeat -5px -281px;
  z-index: 15;
}

.search-btn {
 display: none;
}

.search input[type="search"]:focus~.search-btn,
.search-btn:focus {
  display: inline-block;
  width: 85px;
  margin-left: -4px;
  padding: 5px 20px 7px;
  vertical-align: baseline;
  font: inherit;
  text-align: center;
  background: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
}

.search input[type="search"]:focus~.search-btn:hover {
  color: #ffffff;
  background: #000000;
}

.search-btn:active {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}


/*======= LOGIN =======*/

.login {
  position: relative;
  width: 222px;
  margin-right: auto;
}

.login-enter-link {
  display: block;
  padding-left: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.login-enter-link::before,
.login-info-username::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 13px;
  height: 12px;
  background: url("../img/spritesheet.png") no-repeat -5px -355px;
}

.login-enter-link:hover,
.login-info-username:hover {
  opacity: 0.6;
}

.login-enter-link:active,
.login-info-username:active {
  opacity: 0.3;
}

.login-info {
  display: flex;
  flex-shrink: 0;
}

.login-info-username {
  width: 157px;
  margin-right: auto;
  padding-left: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.login-info-exit {
  width: 43px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}

.login-info-exit:hover {
  color: rgba(0, 0, 0, 0.7);
}

.login-info-exit:active {
  color: #000000;
}

.login-info--hidden {
  display: none;
}

.login-enter--hidden {
  display: none;
}


/*======= CART =======*/

.cart {
  width: 212px;
}

.cart-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
}

.cart-item {
  width: 90px;
}

.cart-item a {
  position: relative;
  display: block;
  padding-left: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.cart-item a:hover {
  opacity: 0.6;
}

.cart-item a:active {
  opacity: 0.3;
}

.cart-item:first-of-type a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("../img/spritesheet.png") no-repeat -5px -69px;
}

.cart-item:last-of-type a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url("../img/spritesheet.png") no-repeat -5px -25px;
}


/*======= NAVIGATION =======*/

.main-navigation {
  width: 100%;
  margin-top: 30px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  box-sizing: border-box;
}

.navigation-item {
  width: 122px;
  margin-right: 40px;
}

.navigation-item:nth-child(4) {
  margin-right: 0;
  margin-left: 65px;
  text-align: right;
}

.navigation-item a {
  display: block;
  padding: 10px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation-item a:hover {
  opacity: 0.6;
}

.navigation-item a:active {
  opacity: 0.3;
}

.navigation-item--submenu {
  position: relative;
  width: 255px;
  margin-right: 270px;
}

.navigation-item--submenu a {
  padding-right: 33px;
}

.navigation-item--plus::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 16px;
  height: 16px;
  background: url("../img/plus.png") no-repeat 0 0;
  opacity: 0.3;
}

.navigation-item--submenu:hover .navigation-sublist,
.navigation-item--submenu:active .navigation-sublist{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-sublist {
  position: absolute;
  left: -60px;
  display: none;
  width: 1160px;
  margin: 0;
  padding: 23px 0 38px 60px;;
  z-index: 15;
  background: #f7e296;
  box-sizing: border-box;
}

.sublist-item {
  display: inline-block;
  width: 180px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sublist-item:nth-child(2) {
  margin-right: 20px;
  margin-left: 60px;
}

.sublist-item a {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
}


/*======= SLIDER =======*/

.slider-menu {
  position: relative;
  margin-top: -1px;
  background: linear-gradient(to bottom, #f7e296 110px, rgba(255, 255, 255, 0) 110px);
}

.slider-controls {
  position: absolute;
  top: 320px;
  right: 70px;
  width: 80px;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 14px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for=btn-1],
#btn-2:checked~.slider-controls label[for=btn-2],
#btn-3:checked~.slider-controls label[for=btn-3] {
  border-color: #000000;
}

.slider-inner {
  width: 100%;
  padding: 0 60px 0 30px;
  box-sizing: border-box;
}


#btn-1:checked~.slider-inner .slide:nth-child(1),
#btn-2:checked~.slider-inner .slide:nth-child(2),
#btn-3:checked~.slider-inner .slide:nth-child(3) {
  display: flex;
}

.slide {
  display: none;
  -ms-flex-preferred-size: 1040px;
      flex-basis: 1040px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide:first-child {
  background: url("../img/01.png") no-repeat 100% 0;
}

.slide:nth-child(2) {
  background: url("../img/02.png") no-repeat 100% 0;
}

.slide:last-child {
  background: url("../img/03.png") no-repeat 100% 0;
}

.slider-foto {
  display: flex;
  width: 530px;
  min-height: 486px;
}

.slider-foto img {
  margin: auto;
}

.slide-description {
  width: 500px;
  align-self: flex-end;
}

.slide-title {
  position: relative;
  display: block;
  margin: 0;
  padding-top: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.slide-title::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 7px;
  background-image: linear-gradient(to right, #ffffff 102px, transparent 102px);
}

.slide-text {
  margin: 20px 0 38px;
  padding-right: 22px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.btn {
  display: block;
  width: 220px;
  padding: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration:  none;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 22px, transparent 22px);
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover {
  background: #f0c52e;
  transition: 0.3ms ease-in all;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-list {
  margin: 0;
  margin-top: 63px;
  padding: 0;
  list-style: none;
}

.features-item {
  display: inline-block;
  max-width: 155px;
  margin-right: 82px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item i {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 120%;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.features-item p {
  margin: 0;
  font: inherit;
}

/*============================== FOOTER =================================*/



.main-footer {
  padding-top: 66px;
  padding-bottom: 79px;
  background: #464646;
  color: #ffffff;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo-link--color {
  color: #ffc600;
}

.logo-link--color:hover {
  opacity: 0.6;
}

.logo-link--color:active {
  opacity: 0.3;
}

.user-cart  {
  width: 400px;
  margin-left: auto;
}

.user-cart-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-cart-item {
  max-width: 95px;
  margin-left: 40px;
}

.user-cart-item a {
  position: relative;
  display: block;
  padding-left: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(243, 243, 243, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.user-cart-item a:hover {
  color: rgba(243, 243, 243, 1);
}

.user-cart-item a:active {
  color: rgba(255, 255, 255, 0.3)
}

.user-cart-item:first-child a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 13px;
  height: 12px;
  background: url("../img/spritesheet.png") no-repeat -5px -377px;
}

.user-cart-item:nth-child(2) a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("../img/spritesheet.png") no-repeat -5px -89px;
}

.user-cart-item:last-child a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url("../img/spritesheet.png") no-repeat -5px -47px;
}

.user-cart-item a:hover::before {
  opacity: 0.6;
}

.user-cart-item a:active::before {
  opacity: 0.3;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-top: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  justify-content: space-between;
}

.contacts-footer-adress,
.contacts-footer-phone {
  width: 210px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.contacts-footer-phone p {
  text-align: right;
}

.contacts-footer-list {
  display: flex;
  width: 430px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  list-style: none;
}

.contacts-footer-item {
  max-width: 125px;
  margin: 0 auto;
}

.contacts-footer-item a {
  display: block;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-footer-item a:hover {
  opacity: 0.6;
}

.contacts-footer-item a:active {
  opacity: 0.3;
}

.social-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-top: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-footer::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background: #ffc600;
}

.social-footer-list {
  display: flex;
  width: 425px;
  margin: 0 auto;
  margin-left: 370px;
  padding: 0;
  flex-shrink: 0;
  justify-content: center;
  list-style: none;
}

.social-footer-item {
  width: 40px;
  margin-right: 15px;
}

.btn-social {
  position: relative;
  display: block;
  font-size: 0;
  width: 39px;
  height: 38px;
  background: #464646 url("../img/spritesheet.png") no-repeat center;
  opacity: 0.3;
}

.btn-social-fb {
  background-position: -5px -109px;
}

.btn-social-inst {
  background-position: -5px -201px;
}

.btn-social-tw {
  background-position: -5px -307px;
}

.btn-social:hover {
  opacity: 1;
}

.btn-social:active {
  opacity: 0.1;
}

.html-academy {
  width: 30px;
}

.html-academy a {
  font-size: 0;
}

.html-academy:hover {
  opacity: 0.6;
}

.html-academy:active {
  opacity: 0.3;
}



/*=============================== MAIN ===================================*/



/*======= CATALOG =======*/
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 108px;
  padding: 0;
  flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
}

.catalog-item {
  width: 160px;
  margin-right: 40px;
}

.catalog-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-link {
  display: block;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalog-link p {
  margin: 0;
  margin-top: 35px;
  font: inherit;
  text-align: left;
}

.wrapper-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7e296;
}

.wrapper-img img {
  display: block;
}

.catalog-item:nth-child(2) .wrapper-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.catalog-link:active p,
.catalog-link:active img {
  opacity: 0.3;
}

.catalog-link:hover .wrapper-img,
.catalog-link:active .wrapper-img {
  background: #f0c52e;
}


/*======= SERVICE =======*/
.service {
  margin-top: 80px;
  padding-bottom: 70px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 100px, #e5e5e5 100px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100px, #e5e5e5 100px);
}

.service-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-list {
  width: 285px;
  margin: 0;
  padding: 0;
  padding-top: 79px;
  padding-bottom: 90px;
  list-style: none;
  border-right: 7px solid #000000;
  box-sizing: border-box;
}

.service-item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  /*padding: 10px 20px;*/
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  background: transparent;
  box-sizing: border-box;
}

.service-item label {
  display: block;
  width: 160px;
  margin: 0;
  padding: 10px 20px;
  font: inherit;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 25px, transparent 25px);
  box-sizing: border-box;
  cursor: pointer;
}

.service-item label:hover {
  background: #f0c52e;
}

.service-item label:active {
  width: 100%;
  color: #f7e184;
  background: #000000;
}

#delivery:checked~.service-list .service-item:first-child label,
#guarant:checked~.service-list .service-item:nth-child(2) label,
#credit:checked~.service-list .service-item:last-child label {
  width: 100%;
  color: #f7e184;
  background: #000000;
}

.service-detals {
  width: 760px;
  margin-top: 50px;
}

.service-features {
  display: none;
  padding: 20px 0;
}

.service-features:first-child {
  background: url("../img/delivery.png") no-repeat 560px 35px;
}

.service-features:nth-child(2) {
  background: url("../img/warranty.png") no-repeat 560px 10px;
}

.service-features:last-child {
  background: url("../img/credit.png") no-repeat 560px 10px;
}

#delivery:checked~.service-detals .service-features:first-child,
#guarant:checked~.service-detals .service-features:nth-child(2),
#credit:checked~.service-detals .service-features:last-child {
  display: block;
}

.service-features-title {
  display: block;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.service-features-description {
  width: 555px;
  margin: 0;
  margin-top: 30px;
  padding-right: 132px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  box-sizing: border-box;
}



/*======= BRANDS =======*/

.brands {
  margin-top: 106px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  box-sizing: border-box;
}

.brands-item {
  width: 260px;
  margin-right: 40px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-link {
  font-size: 0;
  cursor: pointer;
}


.brands-link:hover .brands--dji{
  background: url("../img/logo-1-color .png") no-repeat 50%;
}

.brands-link:hover .brands--Adgets {
  background: url("../img/logo-2-color.png") no-repeat 50%;
}

.brands-link:hover .brands--GoPro {
  background: url("../img/logo-3-color.png") no-repeat 50%;
}

.brands-link:hover .brands--Vive {
  background: url("../img/logo-4-color.png") no-repeat 50%;
}



/*======= INFO =======*/

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-top: 90px;
  margin-bottom: 85px;
  flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  width: 515px;
}

.contacts {
  width: 561px;
}

.info-block-title {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  padding-top: 45px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.info-block-title::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 7px;
  background-image: linear-gradient(to right, #000000 80px, transparent 80px);
}

.info-block-text {
  margin: 40px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.transport-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.transport-item {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 37px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.transport-item::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border: 3px solid #b4b4b4;
  border-radius: 50%;
}

.info-block .btn {
  width: 260px;
  margin-top: 70px;
}



/*==================================== CATALOG.HTML ======================================*/


/*=============== MAIN =================*/

.title-catalog h1 {
  margin: 0;
  margin-top: 45px;
  margin-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  margin-top: 14px;
  margin-bottom: 50px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  max-width: 200px;
  margin-right: 20px;
}

.breadcrumbs-item a {
  margin: 0;
  padding-right: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs-item span {
  font-weight: bold;
  color: #000000;
}




/*=============== FILTER =================*/


.inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.filter {
  width: 468px;
  background-image: -webkit-linear-gradient(top, #dbdbdb 69px, #efefef 19px);
  background-image: linear-gradient(to bottom, #dbdbdb 69px, #efefef 19px);
}

.filter-wrapper {
  width: 328px;
  margin: 0;
  margin-left: auto;
  padding-left: 60px;
  padding-right: 68px;
  box-sizing: border-box;
}

.filter-title {
  margin: 0;
  padding: 25px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

/*======= ФИЛЬТР ЦЕНЫ =======*/

.filter-cost {
  width: 200px;
  margin-top: 70px;
  border-top: 2px solid #000000;
  box-sizing: border-box;
}

.filter-name {
  margin: 0;
  padding: 15px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
  box-sizing: border-box;
}

.range-controls {
  position: relative;
  margin-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -7px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: #efefef;
  box-sizing: border-box;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 110px;
}

.range-controls .toggle:active {
  background: #7eae29;
  border: 3px solid #ffffff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}

.price-controls {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-shrink: 0;
}

.price-controls label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.price-controls input {
  width: 90px;
  height: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 122px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
  background: transparent;
  border: none;
}




/*======= CHECKBOX FILTER =======*/

.filter-color {
  margin-top: 40px;
  border-top: 2px solid #000000;
}

input[type="checkbox"] {
  display: none;
}

.filter-color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  list-style: none;
}

.filter-color-item {
  width: 100%;
}

.filter-color-item label {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
}

.filter-color-item label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background: #dbdbdb;
}

input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 2px;
  height: 7px;
  border: 2px solid #000000;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
}

.filter-color-item label:hover::before {
  background: #cecece;
}

.filter-color-item label:active::before {
  background: #c4c4c4;
}

/*======= RADIO FILTER =======*/

.filter-bluetooth {
  margin-top: 42px;
  border-top: 2px solid #000000;
}

.filter-bluetooth-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  list-style: none;
}

.filter-bluetooth-item {
  width: 100%;
}

.filter-bluetooth-item label {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
}

.filter-bluetooth-item label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: transparent;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  box-sizing: border-box;
}

input[type="radio"]:checked+label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-bluetooth-item label:hover::before {
  border-color: #cecece;
}

.filter-bluetooth-item label:active::before {
  border-color: #acacac;
}

.filter-btn {
  width: 200px;
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #efefef 16px, #f0c52e 16px, #f0c52e 22px, #efefef 22px);
  border: none;
}




/*=============== CONTENT-CATALOG =================*/


.content-catalog {
  width: 972px;
  background-image: -webkit-linear-gradient(top, #ebebeb 69px, #ffffff 19px);
  background-image: linear-gradient(to bottom, #ebebeb 69px, #ffffff 19px);
}

.content-catalog-wrapper {
  width: 760px;
  margin: 0;
  margin-left: 72px;
}



/*=============== SORTING =================*/

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 0;
}

.sorting-title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 56px;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.sorting-item {
  max-width: 120px;
  margin-right: 30px;
}

.sorting-item a {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting-item a:hover {
 color: rgba(0, 0, 0, 0.6);
}

.sorting-item .active,
.sorting-item a:active {
 color: rgba(0, 0, 0, 1);
}

.sorting-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 65px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.sign-item {
  width: 20px;
  margin-right: 25px;
}

.sign-item:first-of-type {
  padding-top: 5px;
}

.sign-item:last-of-type {
  margin-top: -4px;
}

.sign-item a {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0;
  background: #cccccc;
  transform: rotate(45deg);
}

.sign-item .active {
  background: #000000;
}

.sign-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: 30px;
  height: 30px;
  background: #ebebeb;
  transform: rotate(45deg);
}

.sign-down::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  transform: rotate(45deg);
}

.sign-item a:hover {
  background: #999999;
}

.sign-item a:active {
  background: #000000;
}



/*=============== SHOP-ITEMS =================*/

.shop-items {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 43px;
}

.shop-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  list-style: none;
}

.shop-items-list li {
  position: relative;
  width: 360px;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 50px;
  cursor: pointer;
}

.shop-items-list li:nth-child(2n) {
  margin-right: 0;
}
.shop-items-list li:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.shop-items-list li:hover .items-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-foto img {
  display: block;
}

.items-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.items-name {
  display: block;
  width: 255px;
  text-decoration: none;
}

.items-name h2 {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.items-price {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  font-style: normal;
  color: #464646;
}

.items-add {
  position: absolute;
  top: 0;
  display: none;
  width: 360px;
  height: 380px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(243, 243, 243, 0.7);
}

.items-add a {
  width: 200px;
  margin: auto;
}

.items-comparison {
  width: 100%;
  margin: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}

.items-comparison:hover {
  color: rgba(0, 0, 0, 1);
}

.items-comparison:active {
  color: rgba(0, 0, 0, 0.2);
}

.shop-items-article--new::before {
  content: "new";
  position: absolute;
  top: 30px;
  right: 28px;
  width: 60px;
  height: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 53px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
}


/*=============== PAGINATOR =================*/


.pagination {
  margin-bottom: 75px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background: #ebebeb;
  list-style: none;
  box-sizing: border-box;
}

.pagination-item {
  max-width: 137px;
  margin-right: 30px;
}

.pagination-item a {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item--prev {
  margin-right: auto;
}

.pagination-item--prev a,
.pagination-item--next a {
  width: 137px;
  padding: 30px;
  box-sizing: border-box;
}

.pagination-item--next {
  margin-left: auto;
  margin-right: 0;
}

.pagination-item .active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item--prev a:hover,
.pagination-item--next a:hover {
  background: #d9d9d9;
  color: rgba(0, 0, 0, 1);
}

.pagination-item--prev a:active,
.pagination-item--next a:active {
  color: rgba(0, 0, 0, 0.3);
}




/*=============== POPUP =================*/

.popup--show {
  display: block;
}

.popup{
  position: fixed;
  display: none;
  bottom: 18%;
  left: 17%;
  width: 960px;
  margin: 0;
  padding: 95px 100px;
  background: #ffffff;
  box-shadow: -60px 0px 90px -60px rgba(0, 0, 0, 0.75),
              60px 0px 90px -60px rgba(0, 0, 0, 0.75),
              0 10px 30px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.half-width {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
}

.half-width:first-of-type {
  margin-right: 40px;
}

.popup-form label {
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 800;
  color: #000000;
}

.half-width input {
  width: 100%;
  padding: 15px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.text {
  display: flex;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.text textarea {
  width: 100%;
  min-height: 155px;
  padding: 15px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.half-width input:hover,
.text textarea:hover {
  background: #eaeaea;
}

.half-width input:focus,
.text textarea:focus {
  background: #ffffff;
  border: 2px solid #f7e296;
}

input:invalid {
  background: #f6dada;
  border: none;
}

.btn-form {
  width: 200px;
  background-image: linear-gradient(to bottom, #ffffff 16px, #f0c52e 16px, #f0c52e 22px, #ffffff 22px);
  border: none;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background: #f0c52e;
  opacity: 0.5;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.close::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 27px;
  width: 2px;
  height: 30px;
  background: #ffffff;
  transform: rotate(45deg);
}

.close::after{
  content: "";
  position: absolute;
  top: 13px;
  left: 27px;
  width: 2px;
  height: 30px;
  background: #ffffff;
  transform: rotate(-45deg);
}

.close:hover,
.close:active {
  background: #f0c52e;
  opacity: 1;
}

.close:active::before,
.close:active::after {
  opacity: 0.3;
}

.contacts-wrapper .popup {
  position: relative;
  display: block;
  margin: 100px auto;
  left: 0;
}
